.featuredBlock {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: white;
  border-radius: inherit;
  text-align: center;
  font-size: 14px;

  h3 {
    margin: 0;
    font-size: 14px;
  }

  img {
    max-width: 100%;
    flex: 1;
    border-radius: inherit;
  }
}

.featuredBlock.left {
  flex: 0.6;
}

.featuredBlock.right {
  flex: 0.4;
}