.featuredBlock {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: white;
  border-radius: inherit;
  text-align: center;
  font-size: 14px;
  height: 100%;

  h1 {
    display: none;
    margin: 0;
    font-size: 32px;
  }

  h3 {
    margin: 0;
    font-size: 14px;
  }

  img {
    max-width: 100%;
    flex: 1;
    border-radius: 20px;
  }
}

.featuredBlock[data-isOpen="true"] {
  text-align: left;

  h3 {
    display: none;
  }

  h1 {
    display: block;
  }

  img {
    opacity: 0;
  }
}

.featuredBlock.left {
  flex: 0.6;
}

.featuredBlock.right {
  flex: 0.4;
}