.featured {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .split-featured-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  /* Reused in Block.css */
  .split-featured-row[data-layout="offScreenTop"] {
    height: 20%;
    position: absolute;
    top: -100vh;
    left: calc(2.13163e-14%);
  }
}