.blocks-container {
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  z-index: 2;
  position: relative;
  /* opacity: 1;
 */
  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  .quick-doors {
    display: flex;
    gap: 10px;
  }

  .quick-doors > :first-child {
    flex: 1.5 0 0px;
  }

  .quick-doors > :last-child {
    flex: 1 0 0px;
  }
}

.blocks-container[data-isOffScreen="true"] {
  position: absolute;
  top: -200vh;
  /* opacity: 0; */
}