.page-wrapper-container {
  inset: 0px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
  height: 100%;

  .pwc-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    width: 100%;
    opacity: 1;
  }
}